/*portfolio footer/header formatting */
header,footer{
    background-color:rgb(53, 53, 53);
    height: 175px;
}
img{
    padding-top: 20px;
}
h1{
    color:white;
    font-family: Helvetica, sans-serif;
    font-size: 95px;
    text-align: center;
    margin: 0px;
}
h2{
    color:white;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
    margin: 0px;
}
main{
    background-color:blanchedalmond;
    text-align: center;
}
/*only changing h3 in main*/
main h3{
    color:darkslategrey;
    font-family: Tahoma;
}
/*list formatting*/
ul,ol{
    display: table;
    margin: 0 auto;
    text-align: left;
    color: darkslategrey;
    font-family: Tahoma;
}
ol{
    padding-bottom: 15px;
}
p{
    color:darkslategrey;
    font-family: Tahoma;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
hr{
    width:50%;
}
/*only changing footer h3*/
footer h3{
    margin: 0px;
    color:white;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 60px;
    padding-top:50px;
}
